#main{
    width: 1050px;
    margin: 0 auto;
    /*overflow: hidden;*/
}
#main_header{
    width: 1050px;
    height: 199px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%,from(#34435A), to(#242832));
    border-top: 1px solid transparent;
    position: relative;
    box-shadow: 3px 5px 8px #000;
}
.main_header_content{
    width: 1010px;
    height: 160px;
    margin: 20px auto;
}
.user_header{
    width: 500px;
    height: 160px;
    float: left;
}
.headerimg{
    width: 156px;
    height: 156px;
    border: 2px solid #5C5C5C;

    float: left;
}
.headerimg>img{
    width: 100%;
    float: left;
}
.user_header p{
    width: 200px;
    margin-left: 20px;
    color: #898989;
    float: left;
    padding: 5px;
    overflow: hidden;
}
.user_header p span{
    display: inline-block;
    width: 180px;
    float: left;
}
.user_header p>.user_name{
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
}
.user_header p b{
    display: inline-block;
    border: 5px solid transparent;
    border-top:5px solid #fff ;
    position: relative;
    top:5px;
    left: 10px;

}
.user_info{
    width: 300px;
    height: 160px;
    float: right;
}
.user_info h2{
    font-weight: normal;
}
.cjzs{
    width: 284px;
    height: 64px;
    padding: 8px;
    background: #222223;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #343944;
    margin: 10px 0 9px 0;
}
.edit_cj{
    width: 120px;
    height: 30px;
    color: #fff;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%,from(#33425A), to(#242832));
    border: 1px solid #7A8494;
    border-bottom: 0;
    border-radius: 5px;
}
#main_body{
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    background: #1D1D1D;
    border: 1px solid #000;
    font-size: 14px;
}
#main_body a{
    color: #DDDFE2;
}
#main_body a:hover{
    color:#FF8000;
}
.main_body_content{
    width: 800px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.user_info_list{
    width: 200px;
    height: 300px;
    float:left;
    text-align: left;
}
.user_info_list li{
    margin-bottom: 10px;
}

#main_body a.active{
    font-weight: bold;
    color:#FF8000;
}
.container{
    width: 550px;
    overflow: hidden;
    float: right;
}
.container>div{
    display: none;
}
.container>div.active{
    display: block;
}
#order_table{
    width: 100%;
    border-collapse: collapse;
    background: #141414;
    /*border: 1px solid #985f0d;*/
}
#order_table th{
    text-align: center;
    padding: 20px;
    border: 1px solid #323232;
}
#order_table td{
    padding: 10px;
    text-align: center;
    border: 1px solid #323232;
}
#order_table tbody
tr:nth-child(odd) td{
    text-align: left;
}
#order_table td>div{
    width: 200px;
    height: 100px;
    overflow: hidden;
}
#order_table td>div img{
    width: 100%;
}
.from_group{
    width: 100%;
    height: 30px;
}
.col2{
    width: 20%;
    float: left;
    text-align: right;
}
.col5{
    width: 50%;
    float: left;
}